$first-color: #f4c700;
$first-color2: #323d3f;
$main: #666;
$back: #fffdfe;
// rgb(48,48,48)
$back2: #fff;
// rgb(50,61,63)
$viv: #274477;
// rgb(221,51,25)
$viv2: #274477;
// rgb(244,199,0)
$viv3: #274477;
// rgb(38,74,134)
$grey: #666;
// rgb(174,174,174)
$lightgrey: #666;
$superlightgrey: #666;
$darkgrey: #323d3f;
$black: #a79a9a;

$silver: #f0f0f0;
